.destaque {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}



/* Seletor por classe */
#perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #7c8991;
}

.profile-picture {
    border-radius: 50%;
    border: 2px solid #333;
}

h1 {
    font-family: 'Roboto', sans-serif; /* Fonte externa */
    font-size: 2em;
    color: #333;
}

/* Estilos para as fontes */
p {
    font-style: italic;
    font-size: 18px;
}

strong {
    font-weight: bold;
}

/* Navegação - seletor por atributo */
nav ul li a[href] {
    color: #007acc;
    text-decoration: none;
}

/* Link com efeito hover */
nav ul li a:hover {
    color: #005b99;
    text-decoration: underline;
}

/* Estilo para lista ordenada de habilidades */
ol {
    margin-left: 20px;
}

/* Estilo para título das seções */
h2 {
    border-bottom: 2px solid #282727;
    padding-bottom: 5px;
    margin-top: 20px;
    color: rgba(61, 71, 188, 0.73);
}

/* Rodapé - texto decorado */
footer p {
    text-align: center;
    font-style: oblique;
    color: #666;
}

/* Seletor por pseudo-classe para elementos ímpares na lista de hobbies */
ul li:nth-child(odd) {
    color: #555;
    font-weight: bold;
}