@charset "UTF-8";

header{
    background-color: #E8EAE2 ;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    
}

main{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: aqua;
}

form{
    padding: 40px;
    width: 50%;
    
    background-color: blue;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
}

label{
    color: white;
}
button{
    margin: 30px;
}